{% extends 'base.html' %}

{% block content %}

{% load custom_filters %}

<div class="w-full h-full pb-24 md:pb-0 md:pl-24 flex-1 bg-neutral-900 text-white flex justify-center">
    {% include 'navbar.html' %}

    <!-- Content section (Copy this for all pages) -->
    <main class="font-sans mt-8 md:mt-20 mb-4 md:mb-20 w-full md:max-w-5xl md:mx-auto md:px-6">

        <!-- Heading -->
        <header class="flex flex-col justify-center items-center md:flex-row md:justify-between md:items-center">
            <h1 class="font-semibold text-2xl">Playlists</h1>
        </header>
        <section class="text-white mx-auto px-4 md:px-0">
            <div class="mt-10 md:mt-20 w-full grid grid-cols-2 lg:grid-cols-3 items-start gap-2 md:gap-10">
                {% for playlist in all_playlists %}
                {% if playlist.images.0.url %}
                <a href="{% url 'get_playlist' playlist.id %}"
                    class="flex flex-col justify-center items-center lg:align-items justify-center grow md:hover:bg-gray-500/30 md:rounded-md md:py-5 px-2">
                    <img src="{{playlist.images.0.url}}" alt="cover image"
                        class="h-32 w-32 md:h-56 md:w-56 object-cover lg:self-center">
                    <div class="mt-2 md:pl-2 font-light text-gray-300 text-xs md:text-sm break-words lg:self-start">
                        <p>{{playlist.name}}</p>
                        <p>{{playlist.owner.display_name}}</p>
                    </div>
                </a>
                {% endif %}
                {% endfor %}
            </div>
        </section>
    </main>
</div>
{% endblock content %}