{% extends 'base.html' %}

{% block content %}

{% load custom_filters %}

<div class="w-full h-full pb-24 md:pb-0 md:pl-24 flex-1 bg-neutral-900 text-white flex justify-center">
    {% include 'navbar.html' %}

    <!-- Content section (Copy this for all pages) -->
    <main class="font-sans mt-8 md:mt-20 mb-4 md:mb-20 w-full md:max-w-5xl md:mx-auto px-6"
        x-data="{duration: 'long', activeClasses: 'text-white font-semibold underline underline-offset-2'}">

        <!-- Heading and tabs -->
        <header class="flex flex-col justify-center items-center md:flex-row md:justify-between md:items-center">
            <h1 class="font-semibold text-2xl">Top Artists</h1>

            <!-- Tabs -->
            <div class="mt-6 md:mt-0 flex flex-row justify-center items-center gap-4">
                <button class="" @click="duration = 'short'"
                    :class="duration === 'short'? activeClasses : 'text-gray-400'">Last 4 weeks</button>
                <button class="" @click="duration = 'medium'"
                    :class="duration === 'medium'? activeClasses : 'text-gray-400'">Last 6 months</button>
                <button class="" @click="duration = 'long'"
                    :class="duration === 'long'? activeClasses : 'text-gray-400'">All time</button>
            </div>
        </header>

        <!-- Short Data -->
        <div class="mt-10 md:mt-20 w-full flex flex-row flex-wrap gap-10" x-show="duration === 'short'">
            {% for artist in artists_data_short %}
            <a href="{% url 'get_artist' artist.id %}"
                class="flex flex-col justify-center items-center grow md:hover:bg-gray-500/30 md:rounded-md md:py-10">
                <img src="{{artist.images.0.url}}" alt="artist image" class="h-32 w-32 md:h-56 md:w-56 rounded-full">
                <span class="mt-2 font-light text-gray-300">{{artist.name}}</span>
            </a>
            {% endfor %}
        </div>

        <!-- Medium Data -->
        <div class="mt-10 md:mt-20 w-full flex flex-row flex-wrap gap-10" x-show="duration === 'medium'">
            {% for artist in artists_data_medium %}
            <a href="{% url 'get_artist' artist.id %}"
                class="flex flex-col justify-center items-center grow md:hover:bg-gray-500/30 md:rounded-md md:py-10">
                <img src="{{artist.images.0.url}}" alt="artist image" class="h-32 w-32 md:h-56 md:w-56 rounded-full">
                <span class="mt-2 font-light text-gray-300">{{artist.name}}</span>
            </a>
            {% endfor %}
        </div>

        <!-- Long Data -->
        <div class="mt-10 md:mt-20 w-full flex flex-row flex-wrap gap-10" x-show="duration === 'long'">
            {% for artist in artists_data_long %}
            <a href="{% url 'get_artist' artist.id %}"
                class="flex flex-col justify-center items-center grow md:hover:bg-gray-500/30 md:rounded-md md:py-10">
                <img src="{{artist.images.0.url}}" alt="artist image" class="h-32 w-32 md:h-56 md:w-56 rounded-full">
                <span class="mt-2 font-light text-gray-300">{{artist.name}}</span>
            </a>
            {% endfor %}
        </div>
    </main>
</div>

{% endblock content %}